**Import python packages and data to be used**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
west=pd.read_csv('/content/af_west.csv',skipinitialspace = True)
north=pd.read_csv('/content/af_north.csv',skipinitialspace = True)
central=pd.read_csv('/content/af_central.csv',skipinitialspace = True)
east=pd.read_csv('/content/af_east.csv',skipinitialspace = True)
south=pd.read_csv('/content/af_austral.csv',skipinitialspace = True)

**Part 1**

**Q1: Print the first 5 observations**

In [ ]:
west.head(5)
east.head(5)
south.head(5)
north.head(5)
central.head(5)

                      Names     Area  Population  Density     Capital
0                    Angola  1246700    29784000     23.9      Luanda
1                  Cameroon   475650    24054000     50.9     Yaounde
2                     Gabon   267668     2025000      7.9  Libreville
3         Equatorial Guinea    28052     1268000     45.2      Malabo
4  Central African Republic   622984     4659000      7.5      Bangui

In [ ]:
dat=[west,east,south,north,central]
data=pd.concat(dat,axis=0,ignore_index=True)
data['Region']='w'
data

                               Names     Area  ...        Capital  Region
0                              Benin   114763  ...     Porto Novo       w
1                       Burkina Faso   272967  ...    Ouagadougou       w
2                         Cape Verde     4033  ...          Praia       w
3                        Ivory Coast   322463  ...   Yamoussoukro       w
4                             Gambia    11295  ...         Banjul       w
5                              Ghana   238533  ...          Accra       w
6                             Guinea   245857  ...        Conakry       w
7                      Guinea-Bissau    36125  ...         Bissau       w
8                            Liberia   111369  ...       Monrovia       w
9                               Mali  1241238  ...         Bamako       w
10                        Mauritania  1025520  ...     Nouakchott       w
11                             Niger  1267000  ...         Niamey       w
12                           Nigeria   923768  ...          Abuja       w
13                           Senegal   196722  ...          Dakar       w
14                      Sierra Leone    71740  ...       Freetown       w
15                              Togo    56785  ...           Lome       w
16                           Eritrea   121320  ...         Asmara       w
17                          Ethiopia  1127127  ...    Addis Ababa       w
18                           Somalia   637657  ...      Mogadishu       w
19                          Djibouti    25030  ...  Djibouti City       w
20                             Sudan  1886068  ...       Khartoum       w
21                       South Sudan   619745  ...           Juba       w
22                             Kenya   580367  ...        Nairobi       w
23                            Uganda   241550  ...        Kampala       w
24                          Tanzania   945087  ...         Dodoma       w
25                            Rwanda    26338  ...         Kigali       w
26                           Burundi    27834  ...         Gitega       w
27                        Seychelles      455  ...       Victoria       w
28                      South Africa  1219912  ...       Pretoria       w
29                          Botswana   581726  ...       Gaborone       w
30                           Comoros     2612  ...         Moroni       w
31                          Eswatini    17363  ...        Lobamba       w
32                           Lesotho    30355  ...         Maseru       w
33                        Madagascar   587041  ...   Antananarivo       w
34                            Malawi   118844  ...       Lilongwe       w
35                         Mauritius     2040  ...     Port Louis       w
36                        Mozambique   801590  ...         Maputo       w
37                           Namibia   825418  ...       Windhoek       w
38                          Zimbabwe   390245  ...         Harare       w
39                            Zambia   752614  ...         Lusaka       w
40                           Algeria  2381741  ...          Alger       w
41                             Egypt  1001450  ...          Cairo       w
42                             Libya  1759540  ...        Tripoli       w
43                           Morocco   710850  ...          Rabat       w
44                           Tunisia   163610  ...        Tunisia       w
45                            Angola  1246700  ...         Luanda       w
46                          Cameroon   475650  ...        Yaounde       w
47                             Gabon   267668  ...     Libreville       w
48                 Equatorial Guinea    28052  ...         Malabo       w
49          Central African Republic   622984  ...         Bangui       w
50  Democratic Republic of the Congo  2344858  ...       Kinshasa       w
51             Republic of the Congo   342000  ...    Brazzaville       w
52             Sao Tome and Principe      964  ...       Sao Tome       w
53                              Chad  1284000  ...      N'Djamena       w

[54 rows x 6 columns]

**Q2 Merging data files**

In [ ]:
data.loc[0:15,'Region']='West'
data.loc[16:27,'Region']='East'
data.loc[28:39,'Region']='South'
data.loc[40:44,'Region']='North'
data.loc[45:53,'Region']='Central'

In [ ]:
data

                               Names     Area  ...        Capital   Region
0                              Benin   114763  ...     Porto Novo     West
1                       Burkina Faso   272967  ...    Ouagadougou     West
2                         Cape Verde     4033  ...          Praia     West
3                        Ivory Coast   322463  ...   Yamoussoukro     West
4                             Gambia    11295  ...         Banjul     West
5                              Ghana   238533  ...          Accra     West
6                             Guinea   245857  ...        Conakry     West
7                      Guinea-Bissau    36125  ...         Bissau     West
8                            Liberia   111369  ...       Monrovia     West
9                               Mali  1241238  ...         Bamako     West
10                        Mauritania  1025520  ...     Nouakchott     West
11                             Niger  1267000  ...         Niamey     West
12                           Nigeria   923768  ...          Abuja     West
13                           Senegal   196722  ...          Dakar     West
14                      Sierra Leone    71740  ...       Freetown     West
15                              Togo    56785  ...           Lome     West
16                           Eritrea   121320  ...         Asmara     East
17                          Ethiopia  1127127  ...    Addis Ababa     East
18                           Somalia   637657  ...      Mogadishu     East
19                          Djibouti    25030  ...  Djibouti City     East
20                             Sudan  1886068  ...       Khartoum     East
21                       South Sudan   619745  ...           Juba     East
22                             Kenya   580367  ...        Nairobi     East
23                            Uganda   241550  ...        Kampala     East
24                          Tanzania   945087  ...         Dodoma     East
25                            Rwanda    26338  ...         Kigali     East
26                           Burundi    27834  ...         Gitega     East
27                        Seychelles      455  ...       Victoria     East
28                      South Africa  1219912  ...       Pretoria    South
29                          Botswana   581726  ...       Gaborone    South
30                           Comoros     2612  ...         Moroni    South
31                          Eswatini    17363  ...        Lobamba    South
32                           Lesotho    30355  ...         Maseru    South
33                        Madagascar   587041  ...   Antananarivo    South
34                            Malawi   118844  ...       Lilongwe    South
35                         Mauritius     2040  ...     Port Louis    South
36                        Mozambique   801590  ...         Maputo    South
37                           Namibia   825418  ...       Windhoek    South
38                          Zimbabwe   390245  ...         Harare    South
39                            Zambia   752614  ...         Lusaka    South
40                           Algeria  2381741  ...          Alger    North
41                             Egypt  1001450  ...          Cairo    North
42                             Libya  1759540  ...        Tripoli    North
43                           Morocco   710850  ...          Rabat    North
44                           Tunisia   163610  ...        Tunisia    North
45                            Angola  1246700  ...         Luanda  Central
46                          Cameroon   475650  ...        Yaounde  Central
47                             Gabon   267668  ...     Libreville  Central
48                 Equatorial Guinea    28052  ...         Malabo  Central
49          Central African Republic   622984  ...         Bangui  Central
50  Democratic Republic of the Congo  2344858  ...       Kinshasa  Central
51             Republic of the Congo   342000  ...    Brazzaville  Central
52             Sao Tome and Principe      964  ...       Sao Tome  Central
53                              Chad  1284000  ...      N'Djamena  Central

[54 rows x 6 columns]

**Q3: Calculate mean, std deviation and coefficient of variation**

In [ ]:
data.groupby('Region').agg(
    mean_population=('Population', 'mean'),
    std_population=('Population', 'std'),
    coefficient_variation=("Population", lambda x: (x.std()/x.mean())))

         mean_population  std_population  coefficient_variation
Region
Central     1.816611e+07    2.595417e+07               1.428714
East        2.857651e+07    3.089895e+07               1.081271
North       3.785360e+07    3.554852e+07               0.939105
South       1.360964e+07    1.627204e+07               1.195626
West        2.002144e+07    3.979997e+07               1.987868

**Part 2**

**Q1: Minimum area of each region and the corresponding country**

In [ ]:
data.groupby('Region').apply(lambda p:p.loc[p.Area.idxmin()]).loc[:,['Names','Area']]

                         Names    Area
Region
Central  Sao Tome and Principe     964
East                Seychelles     455
North                  Tunisia  163610
South                Mauritius    2040
West                Cape Verde    4033

**Q2: Maximum area of each region and the corresponding country**

In [ ]:
data.groupby('Region').apply(lambda p:p.loc[p.Area.idxmax()]).loc[:,['Names','Area']]

                                    Names     Area
Region
Central  Democratic Republic of the Congo  2344858
East                                Sudan  1886068
North                             Algeria  2381741
South                        South Africa  1219912
West                                Niger  1267000

**Q3: Minimum population of each region and the corresponding country**

In [ ]:
data.groupby('Region').apply(lambda p:p.loc[p.Population.idxmin()]).loc[:,['Names','Population']]

                         Names  Population
Region
Central  Sao Tome and Principe      204000
East                Seychelles       92430
North                    Libya     6293253
South                  Comoros      813912
West                Cape Verde      505000

**Q4: Maximum population of each region and the corresponding country**

In [ ]:
data.groupby('Region').apply(lambda p:p.loc[p.Population.idxmax()]).loc[:,['Names','Population']]

                                    Names  Population
Region
Central  Democratic Republic of the Congo    81340000
East                             Ethiopia   105350020
North                               Egypt    95688681
South                        South Africa    55653654
West                              Nigeria   166629000

**Q5: Average population and country with population close to mean**

In [ ]:
data.groupby('Region').Population.agg(['mean'])

                 mean
Region
Central  1.816611e+07
East     2.857651e+07
North    3.785360e+07
South    1.360964e+07
West     2.002144e+07

In [ ]:
data.groupby(["Region"]).apply(lambda y:y.loc[(y.Population-y.Population.mean()).abs().idxmin()]).loc[:,['Names','Population']]

               Names  Population
Region
Central         Chad    14900000
East          Uganda    41487965
North        Morocco    35276786
South       Zimbabwe    14030368
West     Ivory Coast    20595000

In [ ]:
 regions=data.groupby('Region')
Popopulation_average = data.loc[((regions['Population'].transform('mean') - data['Population']).abs().groupby(data['Region']).idxmin()), ['Names','Population','Region']]
Popopulation_average

          Names  Population   Region
53         Chad    14900000  Central
23       Uganda    41487965     East
43      Morocco    35276786    North
38     Zimbabwe    14030368    South
3   Ivory Coast    20595000     West

**Q6: Average population and country with population furthest from mean**

In [ ]:
data.groupby(["Region"]).apply(lambda p:p.loc[(p.Population-p.Population.mean()).abs().idxmax()]).loc[:,['Names','Population']]

                                    Names  Population
Region
Central  Democratic Republic of the Congo    81340000
East                             Ethiopia   105350020
North                               Egypt    95688681
South                        South Africa    55653654
West                              Nigeria   166629000

**Q7: Average density per region and region closest to the average density.**

In [ ]:
data.groupby(["Region"]).Density.agg('mean')
data.groupby(["Region"]).apply(lambda p:p.loc[abs(p.Density-p.Density.mean()).idxmin()]).loc[:,['Names','Density']]

                     Names  Density
Region
Central  Equatorial Guinea     45.2
East                Uganda    172.0
North              Tunisia     63.0
South               Malawi    152.0
West                 Benin     81.0

**Q8: Average density per region and region furthest from the average density.**

In [ ]:
data.groupby(["Region"]).Density.agg('mean')
data.groupby(["Region"]).apply(lambda p:p.loc[abs(p.Density-p.Density.mean()).idxmax()]).loc[:,['Names','Density']]

                         Names  Density
Region
Central  Sao Tome and Principe   212.80
East                    Rwanda   462.70
North                    Libya     3.58
South                Mauritius   630.00
West                   Nigeria   180.00

**Q9: Calculation of Density**

In [ ]:
density=data.apply(lambda p:(p.Population/p.Area),axis=1)
#data['Den']=density

  **Q10: Population increase by 10%**

In [ ]:
population_increase=data.apply(lambda p:(p.Population*1.1),axis=1)
#data['Pop_increase']=population_increase